/* Стилизация аккордеона */

/*                  ----Проверка работы элементов внутри блока '.accordion' по ширине----
 .accordion {
    width: 700px;
    margin: 0 auto;
}                   ----Проверка работы элементов внутри блока '.accordion' по ширине----
*/

.accordion__item {
    border: 1px solid var(--accordion-border);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.accordion__content {
    display: block;
    padding: 24px 32px 24px;
    cursor: pointer;
    color: var(--accordion-summery);
}

.accordion__content::after {
    content: '>';
    float: right;
    transform: rotate(-90deg);
}

.accordion__item[open] .accordion__content::after {
    transform: rotate(90deg);
}

.accordion__content::-webkit-details-marker {
    display: none;
}

.accordion__item[open] .accordion__content {
    padding-bottom: 16px;
}

.accordion__item[open] .accordion__text {
    padding-bottom: 32px;
}

.accordion__text {
    display: block;
    padding-left: 32px;
    margin: 0;
    color: var(--accordion-text);
}