@import '../fonts/fonts.css';
@import '../../assets/css/normalize.css';

@import '../../03-lection1/01-button/button.css';
@import '../../03-lection1/02-accordion/accordion.css';

@import '../../04-lection2/01-histogram/histogram.css';
@import '../../04-lection2/02-skeleton/skeleton.css';

@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../05-lection3/03-calendar/calendar.css';

@import '../../06-lection4/01-avatar/avatar.css';
@import '../../06-lection4/02-background-image/background-image.css';
@import '../../06-lection4/03-srcset/srcset.css';

@import '../../07-lection5/01-checkbox/checkbox.css';

@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/layout/layout.css';
@import '../../components/card/card.css';

@import '../../components/container/container.css';
@import '../../assets/images/sprites.svg';


:root {
    --primary-black: black;
    --primary-blue: #4263EB;
    --primary-gray: #DDE2E5;
    --primary-border: #ACB5BD;
    --primary-bg: white;
    --primary-border-radius: 8px;
    --white-text: white;
    --gray-text: #495057;
    --blue-text: #334D6E;
    --primary-title-border: #212429;
    --link-active: #D84910;
    --mobile-border: #DDE2E5;

    /* ---------------------------------- Button Colors----------------------------- */

    /* Primary Colors */
    --primary-hover: #2342C0;
    /* Primary Colors */

    /* Secondary Colors */
    --secondary-main: #7048E8;
    --secondary-hover: #5028C6;
    /* Secondary Colors */

    /* ---------------------------------- Button Colors----------------------------- */

    --preview-bg: #F9FAFC;

    /* ---------------------------------- Skeleton Colors----------------------------- */
    --skeleton-photo: #DDE2E5;
    --skeleton-gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    /* ---------------------------------- Skeleton Colors----------------------------- */

    /* ---------------------------------- Calendar Colors----------------------------- */
    --days-color: #90A0B7;
    --between-active-color: rgba(160, 177, 245, 0.2);
    /* ---------------------------------- Calendar Colors----------------------------- */

    /* ---------------------------------- Tooltip Colors----------------------------- */
    --bubble-text: #DDE2E5;
    /* ---------------------------------- Tooltip Colors----------------------------- */

    /* ---------------------------------- Modal Colors----------------------------- */
    --modal-bg: rgba(77, 77, 77, 0.5);
}

html,
body {
    height: 100%;
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 344px;
    }

    .header {
        background-color: var(--preview-bg);
        border-bottom: 1px solid var(--mobile-border);
    }

    .header_mobile {
        padding: 17px 0 69px;
        background-color: var(--primary-bg);
    }

    .header__title {
        margin-top: 49px;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--gray-text);
    }

    .preview {
        padding: 21px 0 64px;
    }

    .preview_template {
        padding: 32px 0;
        background-color: var(--primary-bg);
    }

    .header_template {
        padding: 17px 0;
    }

    .header__logo {
        display: block;
        margin: 0 auto;
    }

    .preview__template-inner {
        grid-template-columns: auto;
        grid-template-rows: 603px;
        gap: 0;
    }

    .preview__block {
        padding: 0;
        background-color: transparent;
    }

    .preview__block-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 20px;
    }

    .preview__inner {
        grid-template-columns: auto auto;
        gap: 16px;
    }

    .card {
        width: 164px;
        height: 210px;
        border-radius: var(--primary-border-radius);
    }

    .card__title {
        font-weight: 400;
        font-size: 16px;
        margin: 12px 0 0;
        text-align: center;
    }

    /* ---------------------------------- Calendar Media Queries----------------------------- */
    .calendar {
        padding: 14px 0 0;
        border: none;
        border-radius: 0;
        background-color: var(--primary-bg);
    }

    .calendar__wrapper {
        padding-bottom: 82%;
        position: relative;
    }

    .calendar__title {
        font-weight: 600;
        font-size: 10px;
        margin: 0 0 14px;
        line-height: 0;
    }

    .calendar__item_day {
        font-size: 6px;
    }

    .calendar__item {
        line-height: 0;
    }

    .calendar__item_day-number {
        font-size: 8px;
    }

    .calendar__inner {
        display: grid;
        place-content: center;
        grid-template: repeat(7, 14%) / repeat(7, 12%);
    }

    /* ---------------------------------- Calendar Media Queries----------------------------- */

    .nav-menu {
        display: none;
    }

    .footer {
        display: none;
    }

}