@import '../fonts/fonts.css';

:root {
    /* Primary Colors */
    --primary-main: #4263EB;
    --primary-hover: #2342C0;
    /* Primary Colors */

    /* Secondary Colors */
    --secondary-main: #7048E8;
    --secondary-hover: #5028C6;
    /* Secondary Colors */

    /* Alternate Colors */
    --alternate-main: white;
    --alternate-border: #ACB5BD;
    --alternate-b-hover: #212429;
    --alternate-text: #495057;
    /* Alternate Colors */

}

.button {
    width: 182px;
    height: 48px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    /* padding: 15px 50px; */
}

.button_primary {
    background-color: var(--primary-main)
}

.button_p_hover {
    background-color: var(--primary-hover)
}

.button_disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.button_secondary {
    background-color: var(--secondary-main);
}

.button_s_hover {
    background-color: var(--secondary-hover);
}

.button_alternate {
    color: var(--alternate-text);
    background-color: var(--alternate-main);
    border: 1px solid var(--alternate-border);
}

.button_a_hover {
    border: 1px solid var(--alternate-b-hover);
}