@import '../fonts/fonts.css';
@import '../../assets/css/normalize.css';

@import '../../03-lection1/01-button/button.css';
@import '../../03-lection1/02-accordion/accordion.css';

@import '../../04-lection2/01-histogram/histogram.css';

@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/layout/layout.css';
@import '../../components/card/card.css';

@import '../../components/container/container.css';


:root {
    /* ---------------------------------- Button Colors----------------------------- */
    --white-text: white;
    
    /* Primary Colors */
    --primary-main: #4263EB;
    --primary-hover: #2342C0;
    /* Primary Colors */

    /* Secondary Colors */
    --secondary-main: #7048E8;
    --secondary-hover: #5028C6;
    /* Secondary Colors */

    /* Alternate Colors */
    --alternate-main: white;
    --alternate-border: #ACB5BD;
    --alternate-b-hover: #212429;
    --alternate-text: #495057;
    /* Alternate Colors */
    /* ---------------------------------- Button Colors----------------------------- */

    /* ---------------------------------- Accordion Colors----------------------------- */
    --accordion-border: #ACB5BD;
    --accordion-title: #212429;
    --accordion-text: #495057;
    /* ---------------------------------- Accordion Colors----------------------------- */


    --head-foot-bg: white;
    --header-title: #212429;
    --preview-bg: #F9FAFC;
    --card-bg: white;

    /* ---------------------------------- Histogram Colors----------------------------- */
    --histo-bg: white;
    --histo-border: #ACB5BD;
    --histo-title: #212429;
    --histo-link: #4263EB;
    --histo-scale-line: #4263EB;
    /* ---------------------------------- Histogram Colors----------------------------- */
}