@import '../fonts/fonts.css';
@import '../../03-lection1/01-button/button.css';

:root {
    /* Primary Colors */
    --primary-main: #4263EB;
    --primary-hover: #2342C0;
    /* Primary Colors */

    /* Secondary Colors */
    --secondary-main: #7048E8;
    --secondary-hover: #5028C6;
    /* Secondary Colors */

    /* Alternate Colors */
    --alternate-main: white;
    --alternate-border: #ACB5BD;
    --alternate-b-hover: #212429;
    --alternate-text: #495057;
    /* Alternate Colors */

}