.skeleton {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 32px;
    border: 1px solid var(--primary-border);
    background-color: var(--primary-bg);
    border-radius: var(--primary-border-radius);
    gap: 24px;
}

.skeleton__info-1 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.skeleton__info-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.skeleton__block-1 {
    display: block;
}

.skeleton__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--skeleton-photo);
}

.skeleton__block-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.skeleton__line {
    height: 20px;
    background: var(--skeleton-gradient);
}
