.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip__trigger {
}

.tooltip__bubble {
    display: none;
    padding: 13px 21px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    background-color: var(--primary-blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--bubble-text);
    position: absolute;
    left: 50%;
    bottom: calc(100% + 10px);
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip__bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 6px solid var(--primary-blue);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
} 